@using System.Security.Claims

@{
	var camere = ViewBag.Camere as List<Camera>;
	ViewData["Title"] = "Camere";
}

<div class="container py-3">
	<div class="d-flex gap-4 align-items-center border-bottom-custom mb-3">
		<h1 class="m-0 fs-3">Archivio Camere</h1>
		@if (User.Identity.IsAuthenticated && !User.IsInRole("Receptionist"))
		{
			<button class="btn btn-sm btn-success d-flex align-items-center h-75" onclick="getRoomAdd()"> Nuova camera</button>
		}
	</div>
	<hr />
	<div id="camereContainer" class="row">
		@if (camere != null & camere.Count > 0)
		{
			@foreach (var item in camere)
			{
				<div class="col-md-4 d-flex border-bottom-custom py-2 gap-2 ">
					<div class="roomImg">
						<img src="~/@item.Img" />
					</div>
					<div>
						<div class="d-flex justify-content-between">
							<h4 class="text-uppercase d-inline-block">@item.Tipo</h4>
							<span class="d-inline-block circle @(item.IsLoan? "notAvailable" : "available")"></span>
						</div>
						<small class="opacity-75">
							<p class="m-0 p-0 fw-light">Numero camera: @item.Numero</p>
							<p class="fst-italic fw-light text">Prezzo a notte: € @item.Prezzo</p>
						</small>
						@if (User.Identity.IsAuthenticated && !User.IsInRole("Receptionist"))
						{
							<div class="d-flex gap-2 align-items-center">
								<button class="btn btn-border-0 d-flex align-items-center" onclick="getRoomEdit('@item.CameraId')"><i class="bi bi-pencil-square"></i></button>
								<a class="nav-link" asp-controller="Camere" asp-action="Delete" asp-route-id="@item.CameraId" title="Delete" onclick="return confirm('Sei sicuro di voler eliminare questa camera?')"><i class="bi bi-trash3"></i></a>

							</div>
						}
						else
						{
							<p>No actions available</p>
						}
					</div>
				</div>
			}
		}
		else{
			<p class="text-danger"> Al momento non ci sono camere!</p>
		}
	</div>
</div>
